*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: #494949;
}

body{
    background-image: linear-gradient(to right, #FFB9F8, #5DEAFF);
    background-size: cover;
    font-size: 45px;
}

.hr-nav{
    padding-bottom: 3px;
    margin-bottom: 50px;
}

.nav-home{
    font-size: 60px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 30px 80px;
}

.back{
    position: fixed;
    left: px;
    top: 40px;
}

.card{
    width: 80%;
    margin: auto;
    border-radius: 30px;
}

.card-header{
    text-align: center;
}

.img-card{
    width: 100%;
}





.span-final{
    padding-bottom: 50px;
}