*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: #494949;
}

body{
    background-image: linear-gradient(to right, #FFB9F8, #5DEAFF);
    background-size: cover;
    font-size: 55px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.box1{
    background-color: #5DEAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 1em black;
}

h1{
    font-size: 60px;
    margin-top: 30px;
}